

.picture{
  display: inline-grid;
  width: 325px;
  height: 300px;
  margin: 20px;
  padding-left: 20px;
}
h2,h1{
  text-align: center;
  font-style: oblique;
  font-size: 50px;
  font-weight: 600;
  color: #4d4dff;
}
ol,p{
 font-size: 20px;
}
table{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  margin: 40px;
}
.myimg{
  height: 120px;
  width: 100px;
  border-radius: 10px;
}
.story{
  background-color: #ccffee;
  padding-bottom: 20px;
}
a{
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
}
.mypage{
  margin-top: 300px;
  float: right;
  color: rgb(0,250,100);
}
 li{
  margin: 20px;

}
.menu > li{
    display: inline-block;
    max-width: 100%;
}
nav{
  display: inline-block;
  width: 100%;
  background-color: #444;
}
.active {
    background-color: #00ffff;
}
li a:hover{
  background-color: #ff1a1a;
}
.contact{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  margin: 20px;
}
th, td{
    border: 1px solid #ff99cc;
    text-align: left;
    padding: 8px;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #ffffcc;
}
.row1{
  text-align: center;
  padding-bottom: 20px;
}
.row2{
  text-align: center;
  padding-bottom: 20px;
}
.row1 > h4{
  text-decoration: underline;
  font-style: italic;
}
.row2 > h4{
  text-decoration: underline;
  font-weight: bold;
}
.row3 > h4{
  text-decoration: underline;
  font-weight: bold;
}
.row4 > h4{
  text-decoration: underline;
  font-weight: bold;
}
.friendlink{
  color: #444;
}
