
.container{
  width: 100%;
  height: 100%;
}

a{
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.col-xs-12 > li{
  display: inline-grid;
  margin-left: 20px;

}
nav{
  display: inline-grid;
  width: 100%;
  background-color: #444;
  height: 50px;
}
.active {
    background-color: #00ffff;
}
li a:hover{
  background-color: #ff1a1a;
}
.picture-container{
  display: grid;
  grid-template-columns: 35% 30% 35%;


}
.picture{
  width: 360px;
  height: 320px;
  margin: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.discription{
  text-align: center;
  font-style: oblique;
  font-size: 20px;
  font-weight: 600;
  color: #444;

}
 .col-xs-5{
  display: inline-block;
  grid-template-columns: 35%;
  background-color:  #66ccff;

}
/*.row-center{
  display: inline-block;
  grid-template-columns: 30%;

}
.row-right{
  display: inline-block;
  grid-template-columns: 35%;
  background-color:  #66ccff;


} */
 .col-xs-2 > h2{
  text-align: center;
  font-style: oblique;
  font-size: 30px;
  font-weight: 600;
  color: #4d4dff;
}
.new {
  position: relative;
  padding-left: 100px;
  color: #ff9900;
  font-size: 32px;
  margin-top: -25px;
}
.introduction{
  width: 100%;
  font-size: 20px;
  margin-left: 5px;
  margin-right: auto;
  padding-top: 50px;
  line-height: 1.5;
}
.welcome{
  height: 90px;
  width: 70px;
  border-radius: 50%;

}

#myCanvas{

  border:80px solid #d3d3d3;
}
.bottom-left {
    position: relative;
    bottom: 170px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bolder;
    font-family: fantasy;
}
#city{
  margin-top: 30px;

}
span{
  font-weight: 600;
  font-size: 25px;
  font-style: oblique;
}
h1{
  text-align: center;
  font-style: oblique;
  font-size: 30px;
  font-weight: 600;
  color: #d90026;
}

ol,p{
 font-size: 20px;
}
table{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  padding-left: 310px;
  padding-bottom: 40px;

}
.myimg{
  height: 120px;
  width: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-top: 20px;
}

}
.mystory{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url("backimg-2.jpg");
}
.story1{
    display: grid;
    grid-template-columns: 1fr;
    border-style: double;
    border-color: #ff0066;
    border-width: thick;
    padding-left: 20px;
    line-height:  1.5;
}
.story2{
  display: grid;
  grid-template-columns: 1fr;
  border-style: double;
  border-color: #ff0066;
  border-width: thick;
  line-height: 1.5;

}
div > h4{
  text-align: left;
  font-style: oblique;
  font-weight: 600;
}
.story2 > h4{
  text-align: center;
  font-style: oblique;
  font-weight: 600;
}

.link{
  background-image: url("backimg-2.jpg");
  padding-top: 1px;
}
.contact{
  color: #444;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  margin: 20px;

}
th, td{
    border: 1px solid #ff99cc;
    text-align: left;
    padding: 8px;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #ffffcc;
}
tr:nth-child(odd) {
  background-color: #ffb3b3;
}
.resume-container{
  padding-left: 30px;
}
.profile{
  background-image: url("backimg-1.png");
  padding-top: 1px;
}

.row1{
  text-align: center;
  padding: 20px;
  text-align: center;
}
.row1 > h2{
  text-align: center;
  font-style: oblique;
  font-size: 30px;
  font-weight: 600;
  color: #444;
}
.row1 > h4{
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  color: #4d4dff;
}
.row2 > h4{
  text-decoration: underline;
  font-weight: bold;
}
.row3 > h4{
  text-decoration: underline;
  font-weight: bold;
}
.row4 > h4{
  text-decoration: underline;
  font-weight: bold;
}
.friendlink{
  color: #444;
}
footer{
  background-color: #ccccff;
  padding: inherit;
  width: 100%;

}

footer > h3{
  font-style: normal;
  text-align: left;
  color: black;

}
.footnote{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

}
.col-xs-6 > ul > li{
  font-size: 20px;
}
